<div class="profile-container" style="height: 780px;">
<div class="container">
  <div class="title">
  <h4>Profile Options</h4>
  <hr>
  </div>
</div>

<div class="content formBox">
    <div class="content-box">
    <form class="formContent" role="form" (submit)="signUp_step1()">
    <div>
      <img class="user_image" src="https://tse1.mm.bing.net/th?id=OIP.ULpMVBjojvzZUclYEPzQ_wHaHa&pid=Api&P=0&w=300&h=300" alt="user_image">
    </div>
    <div style="margin-top: 2%;">
      <input type="name" class="text-input " placeholder="First Name*" name="firstName" required [(ngModel)]="firstName"/>  
    </div>
    <div>
      <input type="name" class="text-input " placeholder="Last Name" name="lastName" required [(ngModel)]="lastName"/>  
    </div>
    <div>
      <input type="email" class="text-input " placeholder="Email* (this will be your username)" (keydown.space)="$event.preventDefault()"
      pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="email" name="email" ngModel #emailref="ngModel"
      [(ngModel)]="email" required>

    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty) " class="aler alert-danger">
      <div [hidden]="!emailref.errors?.pattern">
        Invalid pattern
      </div>
    </div>
      </div>
      <div>
        <div>
          <input type="password" class="text-input " placeholder="Password*" (keydown.space)="$event.preventDefault()"
          pattern="^.*(?=.{8,}).*$" id="password" name="password" ngModel #passwordref="ngModel"
          [(ngModel)]="password" required>

        <div *ngIf="passwordref.errors &&(passwordref.touched || passwordref.dirty) " class="aler alert-danger">
          <div [hidden]="!passwordref.errors?.pattern">
            Length is too short
          </div>
        </div>
      </div>
      </div>
    
      <div>
        <input type="password" class="text-input " placeholder="Confirm Password*" name="confirmpassword" required [(ngModel)]="confirmpassword"/>  
      </div>
      <div class="practiceInfo">
      <h6>Practice or Imaging information</h6>
      </div>

      <div>
        <input type="text" class="text-input " placeholder="Practice or Imaging Center Name*" name="practiseName" required [(ngModel)]="practiseName"/>  
      </div>
      <div>
        <input type="text" class="text-input " placeholder="Street Address 1*" name="streetAdd1" required [(ngModel)]="streetAdd1"/>  
      </div>
      <div>
         <input type="text" class="text-input " placeholder="Street Address 2" name="streetAdd2" required [(ngModel)]="streetAdd2"/>  
        </div>
        <div class="row">
          <div class="col-md-6">
          <input type="text" class="text-input " placeholder="Country*" name="country" required [(ngModel)]="country"/>  
         </div>
         <div class="col-md-6">
          <input type="text" class="text-input " placeholder="State*" name="state" style="margin-left: -20%;" required [(ngModel)]="state"/>  
         </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="text-input " placeholder="City*" name="city" required [(ngModel)]="city"/> 
         </div>
         <div class="col-md-6">
          <input type="number" class="text-input " placeholder="Zip/Postal Code*" name="postalCode" style="margin-left: -20%;" required [(ngModel)]="postalCode"/>  
         </div>
        </div>
        <div>
          <input type="number" class="text-input " placeholder="Primary Phone Number*" name="phoneNumber" required [(ngModel)]="phoneNumber"/>  
        </div>
        <br>
        <button type="submit" class="btn btn-primary submitBtn">Save</button>
        <br>
    
    </form>
  </div>
  <br>
  </div>  
</div>

   
