@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.header{ background: #010105; }
.nav-item:active{ color: #2f6cf7}
.nav-link:active{ color: #2f6cf7 !important}
.nav-link:hover{ color: #2f6cf7 !important;}
.logo_image{ width: 12%; }
.nav-login{background: #4154ff;color: white; padding-left: 20%; padding-right: 25%; padding-bottom: 7%;margin-right: 40px; padding-top: 2%; border-radius: 20px;}
.container-fluid{ height: 574px; overflow: hidden;    background-color: #010105;
    background-image: linear-gradient(to bottom right, #010105 ,  #160432 , #050928  );}
.title{  color: #2d9eff; margin-top: 3%; margin-left: 15%; font-weight: 500; font-family: 'Nunito', sans-serif;}
.left-span{ margin-left: 15%; font-size: 11px; color: #e1d400; position: relative; top: -8px; font-weight: 100;}
.title-text1{ color: white; width: 43%; margin-left: 15%; margin-top: 5%; font-size: 15px; font-weight: 100;}
.title-text2, .title-text3{ color: white; width: 45%; margin-left: 15%; margin-top: -1%; font-size: 15px; font-weight: 100;}
.doctor_image{ width: 440px; border-radius: 50%; margin-top: 6%; height: 435px; margin-left: 10%; padding-left: 4%;}
.image-block{width: 80%; height: 72%; border-radius: 50%; margin-left: -18%; margin-top: 5%; background-color: #010105;
    background-image: linear-gradient(to bottom right, #010105 , rgb(24, 3, 46), rgb(69, 58, 95) ); }
.content{ margin-top: 10%; margin-left: 2%; background: white; width: 60%; height: 32%; border-radius: 8px;}
.content-title{ margin-left: 10%;padding-top: 8%;color:  #4154ff; font-weight: 600 !important;}
.forgotpassword-form{ margin-left: 10%; margin-top: 4%;}
.submit{background:#4154ff; width: 87%; margin-top: 4%;}
.alert-danger{ width: 85%; padding-left: 2% ;}
.nav-login{ position: relative; top: 7px; left: 8px;}
.email-input{ border:none; border-bottom: 1px solid #8c9ba5; color: #494a4b; padding: 10px 6px; outline: none;  width: 85%;}
[placeholder]:focus::-webkit-input-placeholder { transition: text-indent 0.4s 0.4s ease; text-indent: -100%; opacity: 1; }