<header class="header sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black py-3 shadow-sm">
    <div class="container">
      <img class="logo_image" src="./../../assets/logov2.jpg" alt="logo">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active"><a class="nav-link" href="#">Home &nbsp;<span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item"><a class="nav-link" href="#" style="color: #2f6cf7;">Home &nbsp;</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Menu One &nbsp;</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Menu Two &nbsp;</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Menu Three &nbsp;</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Menu Four &nbsp;</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Menu Five &nbsp;</a></li>
          <li class="nav-item"><a class="nav-login" routerLink="/landing">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="container-fluid">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <div class="row">

    <div class="col-md-6 left-section">
      <h4 class="title">RayX Diagnostics</h4>
      <span class="left-span">CONNECTING THE DOTS</span>
      <p class="title-text1">Oral and Maxillofacial Radiology services </p>
        <p class="title-text2">Compressive Diagnostic Radiology Reports</p> 
       <p class="title-text3">US based board Certified OM Radiologists</p>
      <div class="image-block">
        <img class="doctor_image" src="./../../assets/img.jpg" alt="doctor_image">
      </div>
    </div>

    <div class="col-md-6 right-section">
      <div class="content">
        <h5 class="content-title">Forgot Password</h5>
        <div class="content-box">
          <form #f="ngForm" class="forgotpassword-form" role="form" (ngSubmit)=" forgotPassword(f)">
            <input type="email" class="text-input email-input" placeholder="Email" (keydown.space)="$event.preventDefault()"
            pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="email" name="email" ngModel #emailref="ngModel"
            [(ngModel)]="email" required>

            <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty) " class="aler alert-danger">
              <div [hidden]="!emailref.errors?.pattern">
                Invalid pattern
              </div>
            </div>

            <button class="btn btn-primary submit" type="submit" [disabled]="!emailref.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>